<h1>All users</h1>

  <% @users.each do |user| %>
<!-- show all users except yourself -->
  <% if user.id != session[:user_id] %>
  <!-- link to their page -->
    <div><%= link_to user.name, user_path(user) %></div>
    <div><%= user.password %></div>
  <% end %>
    
  <% end %>
