
<p>
  <strong>Gift name</strong>
  <%= @gift.name %>
</p>
 
<p>
  <strong>Comment</strong>
  <%= @gift.comment %>
</p>
<p>
  <strong>wanter</strong>
  <%= @gift.wanter %>
</p>
<p>
  <strong>Link</strong>
  <a href = <% @gift.link %> ><%= @gift.link %></a>
</p>